body {
    display: flex;
    margin: 0;
}

form {
    outline: 2px;
    outline-color: red;
    outline-style: solid;
}

/* Left Side */

.background {
    height: 100vh;
    width: 35vw;
    background-image: url("ferns.avif");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.logo {
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    display: flex;
    top: 20vh;
    justify-content: center;
    align-items: center;
}

.odin {
    height: 10vh;
    display: flex;
    align-items: center;
}

h1 {
    color: white;
}

/* Right side*/

.main-page {
    width: 65vw;
    height: auto;
    background-color: rgb(241, 241, 241);
}

/* Form */

form {
    background-color: white;
    box-shadow: 2px 5px 8px #888888;
    display: flex;
    flex-flow: row wrap;
}

legend {
    width: 100%;
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 35%;
    font-size: 0.9rem;
}