body {
    display: flex;
    /* margin: 0; */ 
}

.background, .main-page {
    outline: 2px;
    outline-color: red;
    outline-style: solid;
}

/* Left Side */

.background {
    height: 100vh;
    width: 35vw;
    background-image: url("ferns.avif");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

/* Right side*/

.main-page {
    width: 65vw;
    height: auto;
    background-color: rgb(241, 241, 241);
}