body {
    display: flex;
    margin: 0;
}

button {
    outline: 2px;
    outline-color: red;
    outline-style: solid;
}

/* Left Side */

.background {
    height: 100vh;
    width: 35vw;
    background-image: url("ferns.avif");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.logo {
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    display: flex;
    top: 20vh;
    justify-content: center;
    align-items: center;
}

.odin {
    height: 10vh;
    display: flex;
    align-items: center;
}

h1 {
    color: white;
}

/* Right side*/

.main-page {
    width: 65vw;
    height: auto;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Form */

form {
    background-color: white;
    box-shadow: 2px 5px 8px #888888;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    padding: 20px;
}

legend {
    width: 100%;
    font-size: 1.2rem;
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 35%;
    font-size: 0.9rem;
}

.bottom-text, button {
    margin-left: 50px;
}

button {
    background-color: #596D48;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: white;
    border: 0;
    width: 200px;
    height: 50px;
    margin-top: 50px;
}

.bottom-text {
    display: flex;
    margin-top: 20px;
}

a {
    display: flex;
    align-items: center;
    margin-left: 10px;
}